body{
    text-align: center;
}

h1{
    font-size: 25px;
    text-align: center;
}

.zhuce{
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    background-color: #f7f7f7;
}

.zhuce td{
    border: 1px solid #3300cc;
    padding: 2px 3px;
}

.zhuce .ibg{
    text-align: left;
}

.zhuce .bbg{
    padding: 10px 0;
    font-size: 13px;
}

#bt{
    width: 100px;
    height: 35px;
    background: #99ffcc;
}

.wid100{
    width: 100px;
}