             body{
            padding-top: 0%;
            padding-left: 0%;
            margin: 0% 0%;
            }
            .site-header{
                margin-top: 0%;
                margin-left: 0%;
                background: #000;
                width: 100%;
                height: 42.5px;
                /* height: 85px; */
                vertical-align: middle;
                display: flex;
            }

            .web-learning-ex-list{
                height: 42.5px;
                vertical-align: middle;
                margin: 0 auto;
                margin-left: 10px;
                color:#FFF;
                text-align: center;
                position:relative;
                z-index: 1;
                list-style: none;
                text-align: center;
            }

            .web-learning-ex-list > li{
                display: inline; /*第几章？*/
                position: relative;
                float:left;
                text-align: center;
                margin: 0 30px;
                line-height: 40px;
            }
            
            .web-learning-ex-list li a{
                width: 100%;
                text-decoration: none; 
                background: #000;
                color:#FFF;
                display: block;
                padding:0px ;
            }

            .web-learning-ex-list li a:hover{
                color:#FFF;
                background: #000;
            }

            .web-learning-ex-list li .web-learning-ex-inside-list{
                vertical-align: middle;
                display: none;
                list-style-type: none;
                /*padding第一项是上下 第二项是左右*/
                padding:0px 0px;
                line-height: 30px;
                color:#FFF;
                position:absolute;
                z-index: 1;
                text-align: left;
                margin-left: 7px;
            }

            .web-learning-ex-list li .web-learning-ex-inside-list li{
                float: none;
                line-height: 30px;
                border-bottom: #FFF 1px solid;

                /* text-align: left; */
            }

            .web-learning-ex-list li .web-learning-ex-inside-list li a{
                width: auto;
            }

            .web-learning-ex-list li .web-learning-ex-inside-list li a:hover{
                background-color: rgb(255, 24, 243);
            }

            .web-learning-ex-list li:hover .web-learning-ex-inside-list{
                display: block;
            }

            .scale img{
                background-size: cover;
                width: 100%;
                height: auto;
                padding: 0;
                margin: 0;
            }

            .scale{
                position: absolute;
                width: 100%;
                height: 100%;
                background: no-repeat;
                background-size: 100%;
                background-image: url(./pictures/Apple_Events.jpg);
            }

            iframe{
                width: 100%;
                height: 100%;
            }

            *{
                margin: 0;
                padding: 0;
            }