table{
    margin: 0 auto;
    border: 8px double #0000ff;
}

td{
    border: 1px solid black;
    text-align: center;
}

#inside_1{
    background: #ffffee;
    width: 80%;
    text-align: center;
    border: 1px double;
    margin: 0 auto;
}

#inside_2{
    background: #0000ff;
    width: 80%;
    text-align: center;
    border: 1px double;
    margin: 0 auto;
}

#outside{
    width: 300px;
    text-align: center;
    vertical-align: middle;
    border-collapse: 0px;
    border-spacing: 0px;
}