#wrap{
    width: 900px;
    margin: 0 auto;
    border:red 2px solid;
    margin-top: 5px;
    margin-bottom: 2px;
}

div{
    text-align: center;
}

#pic{
    width: 420px;
    height: 300px;
    background: url("./ex8.jpg") no-repeat center;
    float: left;
    background-color: #77A;
}

#text{
    background: url("./ex8.jpg");
    float: right;
    width: 420px;
    height: 500px;
    background-color: #77A;
    fill: 20px;
    font-weight: bold;
}

#title{
    font-family: "华文彩云";
    font-size: 32px;
    margin-top: 15px;
}

#author{
    font-size: 12px;
    font-family: 黑体;
    text-align: right;
    border-bottom: 24px;
}

p{
    font-family: 隶书;
    font-size: 24px;
    border: 2px;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    text-align: center;
    margin: 0;
}
