p{
    font-style: italic;
    font-weight: bolder;
    font-size: 70px;
    height: 1.5em;
    font-family: 隶书;
    margin-top: 0;
}

#div0{
    width: 800px;
    height: 100px;
    border: 20px outset;
    border-color: #ff0000;
    fill: 20px;
    margin: 100px;
    background-color: bisque;
}

body{
    vertical-align: middle;
    text-align: center;
}